h1 {
    color: gold;
    font-size: 40px;
    margin-left: 3%;
}

a {
    color: rgba(243, 241, 112, 0.877);
}

a:hover {
    color: rgb(196, 16, 28);
}

label {
    width: 150px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
}

input {
    padding: 3px;
    width: 200px;
    margin-bottom: 10px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    height: 23px;
    font-size: 14px;
}

legend {
    color: rgb(136, 31, 31);
    border: 2px solid;
    background-color: rgba(231, 215, 175, 0.781);
    font-weight: bold;
    width: auto;
    font-size: 25px;
}

fieldset {
    color: rgb(10, 53, 105);
    background-color: rgba(219, 217, 209, 0.582);
    margin-bottom: 20px;
    font-size: 18px;
    margin-top: 10px;
}

select,
option {
    width: 210px;
    height: 25px;
    border: none;
    border-radius: 4px;
    /*بتخلي الحواف مدورة*/
}

textarea {
    width: 600px;
    height: 35px;
}


/* 
fieldset {
    display: none
}

span {
    cursor: pointer
} */

.tabs {
    border: none;
    background-color: cornsilk;
}

.tabs:hover {
    cursor: pointer;
    color: blue;
}